# Environment & secrets
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# ML models 
models/*.pkl

# Satellite images
data/images/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

*.db
models/*.json

.env
models/
data/
*.db
__pycache__/
*.pkl